<ion-header>
  <ion-toolbar>
    <ion-title>Video Game Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col class="ion-text-center">
      <h1>Results</h1>
      <p class='results'>Correct answers: {{correctAnsCounter}} / {{questionCounter}}</p>
      <p class='results'>Scores as percentage: {{scorePercentage}} %</p>
      <p class='results'>Your time was {{durationSeconds}} seconds</p>
      <img style="width: 40vh;" src="{{feedbackPhoto}}">
      <p>{{feedback}}</p>
      <ion-button (click)="answers()" size="large" color="dark">Correct Answers</ion-button>
    </ion-col>
  </ion-row>
  
</ion-content>
