<ion-header>
  <ion-toolbar>
    <ion-title>Video Game Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class='question'><ion-icon class='icon' name="headset"></ion-icon>Question {{questionCounter}}/{{quests.length}}:</p>
  <ion-row style="justify-content: center;">
    <ion-col size="12"><p class='score'>Score: {{correctAnsCounter}}</p></ion-col>
    <ion-col size="12"><p class='question'>{{activeQuestion?.quest}}</p></ion-col>
  </ion-row>
  <ion-row>
  <ion-list>
        <ion-radio-group>
          <ion-item *ngFor="let option of activeQuestion?.options; let i=index">
          <ion-label class='option'>{{option}}</ion-label>
          <ion-radio [ngClass]="{'nonSelect':!isAnswered}" [disabled]="isAnswered" (click)="checkOption(i, activeQuestion)"></ion-radio>
          </ion-item>
        </ion-radio-group>
  </ion-list>
  </ion-row> 
  <p>{{feedback}}</p>
  <ion-button *ngIf=isAnswered (click)=setQuestion(); size="large" color="dark">Next</ion-button>
</ion-content>
