<ion-header>
  <ion-toolbar>
    <ion-title>Video Game Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-col class="ion-text-center">
    <h1>Correct answers</h1>
    <ion-row style="justify-content: center;">
      <ion-col size="4"><h4>Question no.</h4></ion-col>
      <ion-col size="4"><h4>Question</h4></ion-col>
      <ion-col size="4"><h4>Correct answer</h4></ion-col>
    </ion-row>
    <ion-row style="justify-content: center;" *ngFor="let item of quests; index as i">
      <ion-col size="4">{{ i + 1 }}</ion-col>
      <ion-col size="4">{{ item.quest }}</ion-col>
      <ion-col size="4">{{ item.options [item.correctOption] }}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="ion-padding"><ion-button (click)="end()" size="large" color="dark">Try again</ion-button></ion-col>
    </ion-row>
  </ion-col>
</ion-content>
