<ion-header>
  <ion-toolbar>
    <ion-title>
      Video Game Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding page">
  <ion-row style="justify-content: center;">
  <ion-col size="12"><p class='intro'>Do you think you know video games?</p></ion-col>
  <ion-col size="12"><p>Test your knowledge now with this quiz!</p></ion-col>
  </ion-row>
  <ion-row style="justify-content: center;">
      <ion-col size="12"><img class="ion-padding ion-text-center" src="../assets/imgs/controller.png"/></ion-col>
        <ion-col size="12"><ion-button class="ion-text-center" (click)="question()" size="large" color="dark">Begin Quiz</ion-button></ion-col>
  </ion-row>
</ion-content>
